@charset "UTF-8";

html {
  font-family: sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oxygen", sans-serif;
}

.btn {
  text-decoration: none;
  display: inline-block;
  padding: 0.75em 2.5em;
  background: #58c4c4;
  border-radius: 5px;
  color: white;
  transition: background 0.4s ease-in-out;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.btn:hover {
  background: #269e9e;
}

.top-nav {
  background-color: #612673;
  text-align: center;
}

.top-nav ul {
  margin: 0;
  padding: 1em 0;
  list-style: none;
}

.top-nav a {
  color: white;
  text-decoration: none;
  padding: 1em;
  display: block;
  transition: background 0.6s ease-in-out;
}

.top-nav a:hover {
  background: #7c3792;
}

.top-header {
  text-align: center;
}

.top-header-logo {
  margin: 0.5em;
}

.top-content {
  padding: 1em;
  text-align: center;
  background: #f6f6f6;
}

.top-content-title {
  color: #612674;
  font-size: 1.375em;
  margin: 1.375em;
}
.top-content-subtitle {
  color: #a87bb7;
  font-size: 1em;
  line-height: 1.5;
}

.middle-content {
  padding: 2em;
  background: #f6f6f6;
  text-align: center;
}
.middle-content span[class^="icon"] {
  font-size: 4em;
  color: #652e79;
}
.middle-content-title {
  font-size: 1.25em;
  color: #652e79;
  text-transform: uppercase;
}

.middle-content-paragraph {
  line-height: 1.5;
  color: #222;
}

.main-content {
  padding: 2em;
}
.main-content p {
  line-height: 1.5em;
}

.main-content-article {
  margin-bottom: 3.5em;
}
.main-content-title {
  margin-bottom: 3.5em;
  letter-spacing: 0.2em;
  font-size: 1.25em;
  color: #652e79;
  text-transform: uppercase;
  font-weight: normal;
}

.hidden {
  height: 0;
  width: 0;
  overflow: hidden;
  opacity: 0;
  display: block;
}
.footer {
  background: #25303e;
  color: #83969f;
  text-align: center;
  padding-bottom: 2em;
}
.footer-menushare {
  background: #303d4c;
  padding: 0.5em;
}

.footer-menushare li {
  display: inline-block;
  margin: 0 1.2em;
}
.footer-menushare a {
  text-decoration: 0;
  color: white;
  font-size: 1.2em;
}

@media screen and (min-width: 48.75em) {
  .top-header-logo {
    float: left;
  }

  .top-nav {
    background: transparent;
    float: right;
    margin: 15px 5px 0 0;
  }
  .top-nav ul {
    margin: 0;
    padding: 0;
  }
  .top-nav li {
    display: inline-block;
  }

  .top-nav a {
    color: #713a84;
  }
  .top-nav a:hover {
    background: #e7d9fc;
  }

  .top-content {
    background: #521a66;
    color: white;
  }
  .top-content-title,
  .top-content-subtitle {
    color: white;
  }
}
