@charset "UTF-8";

html {
  font-family: sans-serif;
}

img {
  pointer-events: none;
  user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oxygen", sans-serif;
}

.btn {
  text-decoration: none;
  display: inline-block;
  padding: 0.75em 2.5em;
  background: #58c4c4;
  border-radius: 5px;
  color: white;
  transition: background 0.4s ease-in-out;
}

.icon-play {
  height: 5em;
  display: none;
  animation: flutuar 6s ease-in-out infinite;
}

.icon-play img {
  rotate: 90deg;
  max-width: 100%;
  max-height: 100%;
}
.max-width {
  max-width: 1124px;
  margin: 0 auto;
}
.clearfix::after,
.row::after {
  content: "";
  display: block;
  clear: both;
}

.btn:hover {
  background: #269e9e;
}

.top-nav {
  background-color: #612673;
  text-align: center;
}

.top-nav ul {
  margin: 0;
  padding: 1em 0;
  list-style: none;
}

.top-nav a {
  color: white;
  text-decoration: none;
  padding: 1em;
  display: block;
  transition: background 0.6s ease-in-out;
}

.top-nav a:hover {
  background: #7c3792;
}

.top-header {
  text-align: center;
}

.top-header-logo {
  margin: 0.5em;
}

.top-content {
  padding: 1em;
  text-align: center;
  background: #f6f6f6;
}

.top-content-title {
  color: #612674;
  font-size: 1.375em;
  margin: 1.375em;
}
.top-content-subtitle {
  color: #a87bb7;
  font-size: 1em;
  line-height: 1.5;
}

.middle-content {
  padding: 2em;
  background: #f6f6f6;
  max-width: 1540px;
  margin: 0 auto;
  text-align: center;
}
.middle-content span[class^="icon"] {
  font-size: 4em;
  color: #652e79;
}
.middle-content-title {
  font-size: 1.25em;
  color: #652e79;
  text-transform: uppercase;
}

.middle-content-paragraph {
  line-height: 1.5;
  color: #222;
}

.main-content {
  padding: 2em;
}
.main-content p {
  line-height: 1.5em;
}

.main-content-article {
  margin-bottom: 3.5em;
}
.main-content-title {
  margin-bottom: 3.5em;
  letter-spacing: 0.2em;
  font-size: 1.25em;
  color: #652e79;
  text-transform: uppercase;
  font-weight: normal;
}

.hidden {
  height: 0;
  width: 0;
  overflow: hidden;
  opacity: 0;
  display: block;
}
.footer {
  background: #25303e;
  max-width: 1540px;
  margin: 0 auto;
  color: #83969f;
  text-align: center;
  padding-bottom: 2em;
}

.footer-menushare {
  background: #303d4c;
  box-sizing: border-box;
  padding: 0.9em;
}

.footer-menushare li {
  display: inline-block;
  margin: 0 1em;
}
.footer-menushare a {
  font-size: 1.1em;
  text-decoration: none;
  color: white;
  transition: all 0.5s ease-in-out;
}

.footer-menushare a:hover {
  color: #daa520;
}
@media screen and (min-width: 48.75em) {
  .top-header-logo {
    float: left;
  }
  .icon-play {
    display: block;
    animation: flutuar_mobile 6s ease-in-out infinite;
    user-select: none;
  }
  .top-nav {
    background: transparent;
    float: right;
    margin: 15px 5px 0 0;
  }
  .top-nav ul {
    margin: 0;
    padding: 0;
  }
  .top-nav li {
    display: inline-block;
  }

  .top-nav a {
    color: #713a84;
    border-radius: 5%;
  }
  .top-nav a:hover {
    background: #e7d9fc;
  }

  .top-content {
    background: #521a66;
    color: white;
  }
  .top-content-title,
  .top-content-subtitle {
    color: white;
  }

  .col-1-4 {
    display: inline-block;
    width: 44%;
    margin: 2%;
  }

  .main-content-article .btn {
    float: right;
  }
}

@media screen and (min-width: 62.5em) {
  .top-content {
    background: url(../images/bg_topo_1198x670.jpg) no-repeat;
    background-size: auto;
    background-position: center bottom;
    height: 20em;
    padding-top: 17em;
  }
}

@media screen and (min-width: 74em) {
  .top-content {
    background-image: url(../images/bg_topo_1600x1374.jpg);
    background-position: center top;
    padding: 19em 20em 10em;
  }
  .icon-play {
    height: 7em;
    padding-bottom: 7em;
  }
  .col-1-4 {
    width: 22%;
    margin: 1%;
  }
  .col-1_2 {
    width: 48%;
    margin: 1%;
    float: left;
  }
  .main-content-title {
    text-align: center;
  }
  .main-content-article .btn {
    display: block;
    margin-right: 37%;
  }
}

@keyframes flutuar {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
@keyframes flutuar_mobile {
  0% {
    transform: translatey(15px);
  }
  50% {
    transform: translatey(-10px);
  }
  100% {
    transform: translatey(15px);
  }
}
